.by-raycast1 {
  position: relative;
  line-height: 14.72px;
  font-weight: 500;
}
.wallpapers1 {
  position: absolute;
  top: 0.1px;
  left: 0;
  letter-spacing: 0.13px;
  line-height: 14.72px;
}
.icon37,
.span27 {
  position: absolute;
  top: 131.5px;
  left: 0;
  width: 68px;
  height: 15px;
  opacity: 0.6;
  mix-blend-mode: normal;
}
.icon37 {
  top: -2.8px;
  left: 41.1px;
  width: 12.8px;
  height: 12.8px;
  overflow: hidden;
}
.link-sharedfooter-footerlink-14,
.span28 {
  position: absolute;
  left: 0;
  height: 15px;
  mix-blend-mode: normal;
}
.span28 {
  top: 0;
  width: 39px;
  opacity: 0.6;
}
.link-sharedfooter-footerlink-14 {
  top: 108.8px;
  width: 54px;
}
.icon38,
.span29 {
  position: absolute;
  opacity: 0.6;
  mix-blend-mode: normal;
}
.icon38 {
  top: 0;
  left: 70.4px;
  width: 12.8px;
  height: 12.8px;
  overflow: hidden;
}
.span29 {
  top: 2.8px;
  left: 0;
  width: 68px;
  height: 15px;
}
.link-sharedfooter-footerlink-15 {
  position: absolute;
  top: 79.5px;
  left: 0;
  width: 83.2px;
  height: 17.8px;
}
.icon39,
.span30 {
  position: absolute;
  opacity: 0.6;
  mix-blend-mode: normal;
}
.icon39 {
  top: 0;
  left: 39.4px;
  width: 12.8px;
  height: 12.8px;
  overflow: hidden;
}
.span30 {
  top: 2.8px;
  left: 0;
  width: 37px;
  height: 15px;
}
.icon40,
.link-sharedfooter-footerlink-16 {
  position: absolute;
  top: 53px;
  left: 0;
  width: 52.2px;
  height: 17.8px;
}
.icon40 {
  top: -2.8px;
  left: 53.7px;
  width: 12.8px;
  height: 12.8px;
  overflow: hidden;
  opacity: 0.6;
  mix-blend-mode: normal;
}
.link-sharedfooter-footerlink-17,
.span31 {
  position: absolute;
  left: 0;
  height: 15px;
  mix-blend-mode: normal;
}
.span31 {
  top: 0;
  width: 51px;
  opacity: 0.6;
}
.link-sharedfooter-footerlink-17 {
  top: 29.3px;
  width: 67px;
}
.icon41,
.span32 {
  position: absolute;
  opacity: 0.6;
  mix-blend-mode: normal;
}
.icon41 {
  top: 0;
  left: 56.4px;
  width: 12.8px;
  height: 12.8px;
  overflow: hidden;
}
.span32 {
  top: 2.8px;
  left: 0;
  width: 54px;
  height: 15px;
}
.link-sharedfooter-footerlink-18 {
  position: absolute;
  top: 0;
  left: 0;
  width: 69.2px;
  height: 17.8px;
}
.list-sharedfooter-footercolum4 {
  width: 208.8px;
  position: relative;
  height: 147.2px;
  mix-blend-mode: normal;
  font-size: var(--font-size-smi-9);
}
.div-sharedfooter-footercolumn6 {
  position: absolute;
  top: 0;
  left: 963.2px;
  width: 208.8px;
  height: 269.4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16.843124389648438px;
  mix-blend-mode: normal;
}
.icon42,
.span33,
.span34 {
  opacity: 0.6;
  mix-blend-mode: normal;
}
.span33 {
  width: 117px;
  position: relative;
  height: 15px;
}
.icon42,
.span34 {
  position: absolute;
}
.icon42 {
  top: 0;
  left: 35.6px;
  width: 12.8px;
  height: 12.8px;
  overflow: hidden;
}
.span34 {
  top: 2.8px;
  left: 0;
  width: 33px;
  height: 15px;
}
.link-sharedfooter-footerlink-19 {
  width: 48.4px;
  position: relative;
  height: 17.8px;
}
.icon43,
.span35 {
  position: absolute;
  opacity: 0.6;
  mix-blend-mode: normal;
}
.icon43 {
  top: 0;
  left: 45.6px;
  width: 12.8px;
  height: 12.8px;
  overflow: hidden;
}
.span35 {
  top: 2.8px;
  left: 0;
  width: 43px;
  height: 15px;
}
.link-sharedfooter-footerlink-20 {
  width: 58.4px;
  position: relative;
  height: 17.8px;
}
.icon44,
.span36 {
  position: absolute;
  opacity: 0.6;
  mix-blend-mode: normal;
}
.icon44 {
  top: -2.8px;
  left: 45.8px;
  width: 12.8px;
  height: 12.8px;
  overflow: hidden;
}
.span36 {
  top: 0;
  left: 0;
  width: 43px;
  height: 15px;
}
.link-sharedfooter-footerlink-21 {
  width: 59px;
  position: relative;
  height: 15px;
  mix-blend-mode: normal;
}
.icon45,
.span37 {
  position: absolute;
  opacity: 0.6;
  mix-blend-mode: normal;
}
.icon45 {
  top: -2.8px;
  left: 54.7px;
  width: 12.8px;
  height: 12.8px;
  overflow: hidden;
}
.span37 {
  top: 0;
  left: 0;
  width: 52px;
  height: 15px;
}
.link-sharedfooter-footerlink-22 {
  width: 68px;
  position: relative;
  height: 15px;
  mix-blend-mode: normal;
}
.div-sharedfooter-footercolumn7,
.list-sharedfooter-footercolum5 {
  width: 208.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  mix-blend-mode: normal;
}
.list-sharedfooter-footercolum5 {
  height: 120.7px;
  padding: 0 91.7969970703125px 0 0;
  box-sizing: border-box;
  gap: var(--gap-xs-5);
  font-size: var(--font-size-smi-9);
}
.div-sharedfooter-footercolumn7 {
  position: absolute;
  top: 0;
  left: 730.4px;
  height: 269.4px;
  gap: 16.843124389648438px;
}
.icon46,
.span38 {
  position: absolute;
  opacity: 0.6;
  mix-blend-mode: normal;
}
.icon46 {
  top: 0;
  left: 51.4px;
  width: 12.8px;
  height: 12.8px;
  overflow: hidden;
}
.span38 {
  top: 2.8px;
  left: 0;
  width: 49px;
  height: 15px;
}
.icon47,
.link-sharedfooter-footerlink-23 {
  position: absolute;
  top: 140px;
  left: 0;
  width: 64.2px;
  height: 17.8px;
}
.icon47 {
  top: -2.8px;
  left: 57.1px;
  width: 12.8px;
  height: 12.8px;
  overflow: hidden;
  opacity: 0.6;
  mix-blend-mode: normal;
}
.link-sharedfooter-footerlink-24,
.span39 {
  position: absolute;
  left: 0;
  height: 15px;
  mix-blend-mode: normal;
}
.span39 {
  top: 0;
  width: 55px;
  opacity: 0.6;
}
.link-sharedfooter-footerlink-24 {
  top: 116.3px;
  width: 70px;
}
.span-sharedfooter-linkwithtag1,
.span40,
.span41,
.span42,
.span43 {
  position: absolute;
  top: 89.8px;
  left: 0;
  width: 25px;
  height: 15px;
  opacity: 0.6;
  mix-blend-mode: normal;
}
.span-sharedfooter-linkwithtag1,
.span41,
.span42,
.span43 {
  top: 67.1px;
  width: 104px;
}
.span-sharedfooter-linkwithtag1,
.span42,
.span43 {
  top: 44.4px;
  width: 86px;
}
.span-sharedfooter-linkwithtag1,
.span43 {
  top: 21.7px;
  width: 61px;
}
.span-sharedfooter-linkwithtag1 {
  top: -1px;
  width: 48px;
}
.list-sharedfooter-footercolum6 {
  width: 208.8px;
  position: relative;
  height: 158.5px;
  mix-blend-mode: normal;
  font-size: var(--font-size-smi-9);
}
.div-sharedfooter-footercolumn8 {
  position: absolute;
  top: 0;
  left: 497.6px;
  width: 208.8px;
  height: 269.4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16.843124389648438px;
  mix-blend-mode: normal;
}
.span44 {
  top: 215px;
  left: 0;
  width: 25px;
  height: 15px;
}
.icon48,
.span44,
.span45 {
  position: absolute;
  opacity: 0.6;
  mix-blend-mode: normal;
}
.icon48 {
  top: 0;
  left: 102.3px;
  width: 12.8px;
  height: 12.8px;
  overflow: hidden;
}
.span45 {
  top: 2.8px;
  left: 0;
  width: 100px;
  height: 15px;
}
.link-sharedfooter-footerlink-25 {
  position: absolute;
  top: 189.5px;
  left: 0;
  width: 115.1px;
  height: 17.8px;
}
.icon49,
.span46 {
  position: absolute;
  opacity: 0.6;
  mix-blend-mode: normal;
}
.icon49 {
  top: -2.8px;
  left: 46.9px;
  width: 12.8px;
  height: 12.8px;
  overflow: hidden;
}
.span46 {
  top: 0;
  left: 0;
  width: 45px;
  height: 15px;
}
.icon50,
.link-sharedfooter-footerlink-26,
.span47,
.span48 {
  position: absolute;
  top: 165.8px;
  left: 0;
  width: 60px;
  height: 15px;
  mix-blend-mode: normal;
}
.icon50,
.span47,
.span48 {
  top: 139.3px;
  width: 66px;
  opacity: 0.6;
}
.icon50,
.span48 {
  top: 116.6px;
  width: 42px;
}
.icon50 {
  top: -2.8px;
  left: 57.8px;
  width: 12.8px;
  height: 12.8px;
  overflow: hidden;
}
.link-sharedfooter-footerlink-27 {
  position: absolute;
  top: 93.9px;
  left: 0;
  width: 71px;
  height: 15px;
  mix-blend-mode: normal;
}
.div3,
.new1 {
  position: absolute;
}
.div3 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background: linear-gradient(100.41deg, #ff5b37 0.52%, #ab0052);
  width: 34.2px;
  height: 15px;
  mix-blend-mode: normal;
}
.new1 {
  top: 0.5px;
  left: 6px;
  letter-spacing: 0.2px;
  line-height: 13px;
  font-weight: 500;
}
.span-redtag-tag-i96tr1 {
  position: absolute;
  top: 0;
  left: 24.7px;
  border-radius: var(--br-3xs);
  width: 34.2px;
  height: 15px;
  mix-blend-mode: normal;
}
.span50 {
  top: -1px;
  width: 21px;
  opacity: 0.6;
  font-size: var(--font-size-smi-9);
}
.item-sharedfooter-footeritem-1,
.span50,
.span51,
.span52,
.span53 {
  position: absolute;
  left: 0;
  height: 15px;
  mix-blend-mode: normal;
}
.item-sharedfooter-footeritem-1 {
  top: 68.1px;
  width: 208.8px;
  font-size: var(--font-size-2xs-2);
}
.span51,
.span52,
.span53 {
  top: 44.4px;
  width: 40px;
  opacity: 0.6;
}
.span52,
.span53 {
  top: 21.7px;
  width: 63px;
}
.span53 {
  top: -1px;
  width: 33px;
}
.list-sharedfooter-footercolum7 {
  width: 208.8px;
  position: relative;
  height: 230.7px;
  mix-blend-mode: normal;
  font-size: var(--font-size-smi-9);
}
.div-sharedfooter-footercolumn9 {
  position: absolute;
  top: 0;
  left: 264.8px;
  width: 208.8px;
  height: 269.4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16.843124389648438px;
  mix-blend-mode: normal;
}
.icon51 {
  position: absolute;
  top: 2px;
  left: 32px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  mix-blend-mode: normal;
}
.div-sharedfooter-footercolumn5,
.footer-sharedfooter-footer-k1 {
  position: absolute;
  top: 65px;
  left: 110.5px;
  width: 1204px;
  height: 269.4px;
  mix-blend-mode: normal;
}
.footer-sharedfooter-footer-k1 {
  top: 2677px;
  left: 0;
  border-top: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 1425px;
  height: 398.4px;
}
.image-removebg-preview-1-icon1 {
  position: absolute;
  top: 22px;
  left: 26px;
  width: 30px;
  height: 28px;
  object-fit: cover;
}
.div-teamspricinginfo-containe1,
.header-navbar-navbar-grsxc1 {
  position: absolute;
  top: 0;
  left: 69px;
  width: 1204px;
  height: 72px;
  mix-blend-mode: normal;
}
.div-teamspricinginfo-containe1 {
  top: 6135.3px;
  left: 142.5px;
  width: 1140px;
  height: 586px;
}
.b035e405-a8db-4ac5-ada7-a46d36-icon {
  position: absolute;
  top: 82px;
  left: 109px;
  width: 368px;
  height: 368px;
  object-fit: cover;
}
.div-pro-heading-ufzlo1 {
  position: absolute;
  top: 1088px;
  left: 154px;
  width: 1140px;
  height: 344.4px;
  mix-blend-mode: normal;
}
.stay-on-top1 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.paragraph4 {
  top: 113px;
  width: 300px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 19.34375px 0 0;
  box-sizing: border-box;
  mix-blend-mode: normal;
}
.icon52,
.manifesto4,
.paragraph4 {
  position: absolute;
  left: 32px;
}
.manifesto4 {
  top: 73px;
  font-size: var(--font-size-base-9);
  line-height: 24px;
  font-weight: 500;
  color: var(--color-white);
}
.icon52 {
  top: 32px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  mix-blend-mode: normal;
}
.link-extensionsslideshow-anch {
  width: 364px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-300);
  height: 205px;
  mix-blend-mode: normal;
}
.paragraph5 {
  position: absolute;
  top: 113px;
  left: 32px;
  width: 300px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 13.90625px 0 0;
  box-sizing: border-box;
  mix-blend-mode: normal;
}
.link-extensionsslideshow-anch1 {
  width: 364px;
  position: relative;
  height: 205px;
  mix-blend-mode: normal;
}
.div-extensionsslideshow-ancho,
.div-teamsprivateextensions-sl,
.paragraph6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  mix-blend-mode: normal;
}
.paragraph6 {
  position: absolute;
  top: 113px;
  left: 32px;
  width: 300px;
  height: 60px;
  flex-direction: column;
  padding: 0 11.078125px 0 0;
  box-sizing: border-box;
}
.div-extensionsslideshow-ancho,
.div-teamsprivateextensions-sl {
  width: 1140px;
}
.div-extensionsslideshow-ancho {
  height: 205px;
  flex-direction: row;
  gap: var(--gap-5xl);
}
.div-teamsprivateextensions-sl {
  position: absolute;
  top: 2337px;
  left: 143px;
  height: 239px;
  flex-direction: column;
  font-size: var(--font-size-sm-9);
  color: var(--color-gray-400);
}
.projeto-first1 {
  position: absolute;
  height: 78.57%;
  width: 90.79%;
  top: 23.21%;
  left: 9.61%;
  letter-spacing: 0.2px;
  line-height: 16px;
  display: flex;
  align-items: center;
}
.icon55,
.icon56 {
  overflow: hidden;
  mix-blend-mode: normal;
}
.icon55 {
  position: absolute;
  top: 22px;
  left: 125px;
  width: 127px;
  height: 28px;
  font-size: var(--font-size-sm-1);
  font-family: var(--font-alfa-slab-one);
}
.icon56 {
  width: 24px;
  position: relative;
  height: 24px;
  flex-shrink: 0;
}
.shared-snippets {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.strong {
  width: 506px;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  mix-blend-mode: normal;
  color: var(--color-deepskyblue);
}
.como-tudo-comeou {
  position: relative;
  line-height: 36px;
  font-weight: 600;
}
.h4,
.paragraph7 {
  width: 506px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.h4 {
  height: 72px;
  padding: 0 73.296875px 0 0;
  mix-blend-mode: normal;
  font-size: var(--font-size-10xl-9);
}
.paragraph7 {
  height: 96px;
  padding: 0 9.703125px 0 0;
  color: var(--color-gray-400);
}
.icon57,
.paragraph7,
.paragraph8 {
  mix-blend-mode: normal;
}
.paragraph8 {
  width: 506px;
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 24.140625px 0 0;
  box-sizing: border-box;
  color: var(--color-gray-400);
}
.icon57 {
  position: absolute;
  top: 1px;
  left: 193.7px;
  width: 14px;
  height: 14px;
  overflow: hidden;
}
.learn-more-about {
  position: absolute;
  top: -0.5px;
  left: 0;
  letter-spacing: 0.2px;
  line-height: 16px;
  font-weight: 500;
}
.div-teamshighlight-text-amlk,
.link {
  width: 506px;
  position: relative;
  height: 16px;
  mix-blend-mode: normal;
  font-size: var(--font-size-sm-9);
}
.div-teamshighlight-text-amlk {
  position: absolute;
  top: 1112px;
  left: 788px;
  height: 352px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--font-size-base-9);
}
.coisos-da-cabea,
.div-next1 {
  position: absolute;
  top: 5px;
  left: 0;
  width: 1425px;
  height: 6721.3px;
}
.coisos-da-cabea {
  top: 1647px;
  left: 177px;
  width: 506px;
  height: 352px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  mix-blend-mode: normal;
  font-size: var(--font-size-base-9);
}
.b7007-3157-4007-9931-b066ea78c-icon,
.luzinha-icon {
  position: absolute;
  top: 1690px;
  left: 904px;
  width: 368px;
  height: 368px;
  object-fit: cover;
}
.luzinha-icon {
  top: -493px;
  left: -278px;
  width: 2323px;
  height: 1523px;
  overflow: hidden;
  mix-blend-mode: normal;
}
.clubes2,
.contatos1,
.sobre-ns1 {
  position: absolute;
  letter-spacing: 0.2px;
  line-height: 16px;
}
.sobre-ns1 {
  height: 1.34%;
  width: 6.23%;
  top: 2.28%;
  left: 71.23%;
  display: flex;
  align-items: center;
}
.clubes2,
.contatos1 {
  top: 22px;
  left: 696px;
}
.contatos1 {
  left: 952px;
}
.div-teamsheader-circles-kufv,
.span-pro-protextbg-rj0b61 {
  position: absolute;
  top: 1084px;
  left: 727px;
  width: 85px;
  height: 63px;
  mix-blend-mode: normal;
}
.div-teamsheader-circles-kufv {
  top: 33px;
  left: 110px;
  width: 1140px;
  height: 1138px;
  overflow: hidden;
  font-size: var(--font-size-sm-1);
  font-family: var(--font-alfa-slab-one);
}
.body1,
.titulo1 {
  position: absolute;
}
.body1 {
  top: 11px;
  left: 0;
  background-color: var(--color-gray-200);
  width: 1425px;
  height: 3080px;
  mix-blend-mode: normal;
}
.titulo1 {
  height: 33.33%;
  width: 11.15%;
  top: -47.02%;
  right: 139.13%;
  bottom: 113.69%;
  left: -50.29%;
  overflow: hidden;
}
.vector-icon1,
.vector-icon2,
.vector-icon3 {
  position: absolute;
  height: 40.48%;
  width: 12.88%;
  top: -50.6%;
  right: 100.29%;
  bottom: 110.12%;
  left: -13.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon2,
.vector-icon3 {
  height: 33.33%;
  width: 11.15%;
  top: -47.02%;
  right: 139.13%;
  bottom: 113.69%;
  left: -50.29%;
}
.vector-icon3 {
  height: 36.9%;
  width: 10.77%;
  top: -48.81%;
  right: 63.37%;
  bottom: 111.9%;
  left: 25.87%;
  object-fit: contain;
}
.quem-somos {
  top: 0;
  left: -281.5px;
  line-height: 84px;
  background: linear-gradient(transparent, transparent),
    linear-gradient(94.34deg, #fff, #9bd0f5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.frame,
.quem-somos,
.titulo {
  position: absolute;
}
.titulo {
  top: 148px;
  left: 0.5px;
  width: 520px;
  height: 168px;
  mix-blend-mode: normal;
}
.frame {
  height: 13.36%;
  width: 10.77%;
  top: 14.22%;
  right: 52.5%;
  bottom: 72.42%;
  left: 36.73%;
  overflow: hidden;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.div-teamsheader-headercontent1 {
  position: absolute;
  height: 51.74%;
  width: 40.5%;
  top: -1.67%;
  right: 33.88%;
  bottom: 49.93%;
  left: 25.62%;
  mix-blend-mode: normal;
  font-family: var(--font-bungee-inline);
}
.header-child {
  position: absolute;
  height: 23.63%;
  width: 16.04%;
  top: 70.46%;
  right: 33.92%;
  bottom: 5.91%;
  left: 50.04%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.login1 {
  position: absolute;
  top: 8px;
  left: 46px;
  letter-spacing: 0.2px;
  line-height: 16px;
  font-weight: 500;
}
.link-navbar-downloadlink-sta1 {
  position: absolute;
  top: -201px;
  left: 1200px;
  border-radius: var(--br-7xs);
  background: linear-gradient(91.11deg, #0d1731 13%, #05010d);
  border: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 127px;
  height: 32px;
  mix-blend-mode: normal;
  font-size: var(--font-size-sm-1);
}
.foto-1-icon {
  position: absolute;
  height: 98.92%;
  width: 36.19%;
  top: 1.08%;
  right: 0;
  bottom: 0;
  left: 63.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.h42,
.paragraph11,
.paragraph12,
.strong2 {
  width: 506px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  mix-blend-mode: normal;
}
.strong2 {
  height: 24px;
  flex-direction: row;
  padding: 0 37.203125px 0 0;
  gap: var(--gap-xs);
  color: var(--color-deepskyblue);
}
.h42,
.paragraph11,
.paragraph12 {
  flex-direction: column;
}
.h42 {
  height: 72px;
  padding: 0 139.390625px 0 0;
  font-size: var(--font-size-10xl-9);
}
.paragraph11,
.paragraph12 {
  height: 96px;
  padding: 0 9.390625px 0 0;
  color: var(--color-gray-400);
}
.paragraph12 {
  height: 48px;
  padding: 0 36.328125px 0 0;
}
.icon61,
.texto {
  position: absolute;
  mix-blend-mode: normal;
}
.icon61 {
  top: 1px;
  left: 165.3px;
  width: 14px;
  height: 14px;
  overflow: hidden;
}
.texto {
  height: 94.62%;
  width: 49.75%;
  top: 0;
  right: 50.25%;
  bottom: 5.38%;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.oque-e-o-projeto-first {
  position: absolute;
  height: 47.49%;
  width: 97.2%;
  top: 37.35%;
  right: 0;
  bottom: 15.16%;
  left: 2.8%;
  font-size: var(--font-size-base-9);
}
.header,
.sobre-nos {
  mix-blend-mode: normal;
}
.header {
  position: absolute;
  top: 231px;
  left: 71px;
  width: 1284px;
  height: 897px;
  overflow: hidden;
  font-size: var(--font-size-53xl-4);
}
.sobre-nos {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-200);
  height: 3091px;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-smi-6);
  color: var(--color-white);
  font-family: var(--font-inter);
}
